ul {
    list-style-type: none;
}

.adding-new-invoice {
    display: flex;
    justify-content: center;
}

.adding-new-invoice-form {
    min-width: 40%;    
}

.adding-new-invoice-label {
    display: flex;
    margin: 10px 0;
    font-weight: 500;
    font-size: 1.5rem;
}

.invoice-list {
    margin: 50px 20px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
}
