<div class="container">
    <div class="article">
        <div class="article title">
            <h1>RC6 Cipher</h1>
            <div class="container">
                <div class="input-section">
                    <div class="form-section">
                        <div class="row">
                            <span class="label">
                                Key:
                            </span>
                            <input type="text" [(ngModel)]="key">
                        </div>
                        <div *ngIf="key.length === (keySize / 16)" class="error-text">
                            The key length must contain more than {{keySize / 16}} characters
                        </div>
                        <div class="row">
                            <span class="label">
                                Select key size (in bits):
                            </span>
                            <select #keySizeSelector (change)="setKeySize(keySizeSelector.value)">
                                <option default value="128">128</option>
                                <option value="192">192</option>
                                <option value="256">256</option>
                            </select>
                        </div>
                        <div class="row">
                            <span class="label">
                                Plain text to be ciphered:
                            </span>
                            <input type="text" [(ngModel)]="plainText">
                        </div>
                    </div>
                    <div class="form-section">
                        Click to encrypt the plain text and then click to decrypt and retrieve the original message
                        <div class="buttons">
                            <button [disabled]="plainText.length === 0 || key.length === 0" (click)="encrypt(plainText, keySize, key)">Encrypt</button>
                            <button [disabled]="cipherText.length === 0 || key.length === 0" (click)="decrypt(cipherText, keySize, key)">Decrypt</button>
                        </div>
                    </div>
                    <div class="form-section">
                        <div class="buttons">
                            <span *ngIf="cipherText.length > 0">{{cipherText}}</span>
                            <span *ngIf="decipheredText.length > 0">{{decipheredText}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="article main">
            <p></p>
            <p></p>
        </div>
    </div>
</div>