<div class="container">
    <div class="article">
        <div class="article title">
            <h1>RC6 bemutatása</h1>
            <div class="container">
                <div class="input-section">
                    <div class="form-section">
                        <div class="row">
                            <span class="label">
                                Key:
                            </span>
                            <input type="text" [(ngModel)]="key">
                        </div>
                        <div class="row">
                            <span class="label">
                                Select key size (in bits):
                            </span>
                            <select #keySize (change)="setKeySize(keySize.value)">
                                <option default value="128">128</option>
                                <option value="16">16</option>
                                <option value="24">24</option>
                                <option value="32">32</option>
                            </select>
                        </div>
                        <div class="row">
                            <span class="label">
                                Plain text to be ciphered:
                            </span>
                            <input type="text" [(ngModel)]="plainText">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="article main">
            <p></p>
            <p></p>
        </div>
    </div>
</div>