<div class="content" role="main">
    <h2>Register</h2>
    Credentials
    <div class="container">

        <div class="form-section">
            <div class="row">name:<input type="text" [(ngModel)]="userRegisterDto.name"></div>
            <div class="row">email:<input type="text" [(ngModel)]="userRegisterDto.email"></div>
            <div class="row">password:<input type="text" [(ngModel)]="userRegisterDto.password"></div>
            <div *ngIf="isRegisterError" class="error-text">
                Please register with correct email and password
            </div>
            <br />
            Company informations
            <div class="row">name:<input type="text" [(ngModel)]="companyRegisterDto.name"></div>
            <div class="row">company Id:<input type="text" [(ngModel)]="companyRegisterDto.companyId"></div>
            <div class="row">tax number:<input type="text" [(ngModel)]="companyRegisterDto.taxNumber"></div>
            <div class="row">address:<input type="text" [(ngModel)]="companyRegisterDto.address"></div>
            <div class="">
                <button (click)="register(userRegisterDto, companyRegisterDto);">Register</button>
            </div>
            <div *ngIf="isCompanyError" class="error-text">
                Please register with correct email and password
            </div>
        </div>

        <hr />
        <div class="form-section">
            <h2>Login</h2>
            <div class="row">email:<input type="text" [(ngModel)]="loginDto.email"></div>
            <div class="row">password:<input type="text" [(ngModel)]="loginDto.password"></div>
            <div class="">
                <button (click)="login(loginDto)">Login</button>
            </div>
            <div *ngIf="isUserError" class="error-text">
                Please login with the correct email and password
            </div>
        </div>

        <hr />
    </div>
    <!-- 
    <button (click)="weather()">Get Weather</button>
    <button (click)="invoices()">Get Invoices</button> -->

</div>