<header>
  <div class="title">{{ title }}</div>
  <nav>
    <a *ngIf="isLoggedIn" routerLink="/dashboard">Dashboard</a>
    <a *ngIf="isLoggedIn" routerLink="/welcome">Main</a>
    <a *ngIf="isLoggedIn" routerLink="/invoices">Invoices</a>
    <a *ngIf="isLoggedIn" routerLink="/thesis">Thesis</a>
    <a *ngIf="isLoggedIn" routerLink="/rc6">Description of RC6</a>
    <a *ngIf="isLoggedIn" routerLink="/profile">Profile</a>

    <a *ngIf="!isLoggedIn" routerLink="/auth">Login or Registry</a>
  </nav>
</header>